<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click) = "start()">Start Recording</ion-button>
  <ion-button expand="block" (click) = "stop()">Stop recording</ion-button>

  <ion-button expand="block" (click) = "playRecording()">Play recording</ion-button>
  <!-- <ion-button expand="block" (click) = "stopRecording()">Pause recording</ion-button> -->



  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
